    <div class="credits text-center">
        <p>
            <a href="#">Contact SafeConnect</a>
        </p>
        <p>
            <a href="#">SafeConnect Information</a>
        </p>
    </div>
</body>
</html>